html {
    background-color: black;
}
.square {
    width: 200px;
    height: 30px;
    background: #6392c0;
    display: inline-block;
    border-radius: 5%;
}
.row {
    font-size: 20px;
    padding: 6px;
    text-align: center;
    padding-bottom: 20px;
}
div#uploaders {
    display: inline-block;
}
div#container{
    border-radius: 2%;
    width: 480px;
    height: 480px;
    position: absolute;
    top: calc(50% - 240px);
    left: calc(50% - 240px);
    color: black;
    background-color: #edeae5;
    font-family: 'Slabo 27px', serif;
}
div#titler {
    text-align: center;
    padding: 12px;
    padding-top: 36px;
    padding-bottom: 36px;
    font-size: 36px;
}
